<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <meta charset="UTF-8">

</head>
<body>
    <main>
        <section id="landing-page" class="landing-page">
            <div class="container">

                  <div style="text-align:center">

                    <h3 style="margin:90px 90px;color:green">Prediction by CodeBotics</h3>

                    <h1 style="font-size:5rem;">{{ message }}</h1>
                  </div>


            </div>

        </section>

</body>
</html>